.elindi {
  width: 66rem;
  height: 70rem;
}

.elindi_line {
  fill: var(--color-theme-primary-light);
}

.elindi_a {
  fill: var(--color-theme-secondary);
}

.elindi_b {
  fill: var(--color-theme-primary);
}
