.elindiLogo__leafs {
  fill: #508468;
}

.elindiLogo__bark {
  fill: #392526;
}

.elindiLogo__lines {
  fill: black;
}

.elindiLogo__face {
}

.face__skin {
  fill: #D2D8BD;
}

.skin__cheeks {
  fill: #5E3632;
}

.skin__forehead {
  fill: #251E1F;
}

.face__nose {
  fill: black;
}

.nose__tip {
  fill: #38211E;
}

.nose__dots {
  fill: #735050;
}

